In [1]:
import findspark
findspark.init()

In [2]:
from pyspark import SparkContext
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder.appName('credit card default').getOrCreate()

In [4]:
sc = spark.sparkContext

## 1. Load file into rdd

In [21]:
rdd = sc.textFile('credit-card-default-1000.csv')

In [6]:
rdd.take(5)

['CUSTID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_1,PAY_2,PAY_3,PAY_4,PAY_5,PAY_6,BILL_AMT1,BILL_AMT2,BILL_AMT3,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,DEFAULTED',
 '530,20000,2,2,2,21,-1,-1,2,2,-2,-2,0,0,0,0,0,0,0,0,0,0,162000,0,0',
 '38,60000,2,2,2,22,0,0,0,0,-2,-2,0,0,0,0,0,0,0,0,0,0,0,1576,0',
 '43,10000,1,2,2,22,0,0,0,0,-2,-2,0,0,0,0,0,0,0,0,0,0,0,1500,0',
 '47,20000,2,1,2,22,0,0,2,-1,0,-1,1131,291,582,291,0,291,291,582,0,0,130291,651,0']

## 2. Remove header row

In [22]:
head = rdd.first()
head

'CUSTID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_1,PAY_2,PAY_3,PAY_4,PAY_5,PAY_6,BILL_AMT1,BILL_AMT2,BILL_AMT3,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,DEFAULTED'

In [23]:
rdd2 = rdd.filter(lambda x: x!= head)

In [9]:
rdd2.take(3)

['530,20000,2,2,2,21,-1,-1,2,2,-2,-2,0,0,0,0,0,0,0,0,0,0,162000,0,0',
 '38,60000,2,2,2,22,0,0,0,0,-2,-2,0,0,0,0,0,0,0,0,0,0,0,1576,0',
 '43,10000,1,2,2,22,0,0,0,0,-2,-2,0,0,0,0,0,0,0,0,0,0,0,1500,0']

## 3. Remove lines that are not "CSV"

In [28]:
rdd2.count()

1002

In [31]:
rdd3 = rdd2.map(lambda x: x.split(',')).filter(lambda x: all(x))

In [33]:
rdd3.count()

1000

## 4.Remove double quotes that are present in few records.

In [36]:
rdd3.first()

['530',
 '20000',
 '2',
 '2',
 '2',
 '21',
 '-1',
 '-1',
 '2',
 '2',
 '-2',
 '-2',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '162000',
 '0',
 '0']

In [44]:
rdd3.filter(lambda x:~( '"' in x)).count()

1000

## 5. Convert into SQL Dataframe.